<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/resim.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						SignalR Yönetim Paneli
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Default/OurMenu/">
								<span class="link-collapse">Menüyü Gör</span>
							</a>
						</li>
						<li>
							<a href="/Register/Index/">
								<span class="link-collapse">Yeni Kayıt</span>
							</a>
						</li>
						<li>
							<a href="/Login/Index/">
								<span class="link-collapse">Giriş Yap</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-backward"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminDashboard/Index/">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>

				</a>
			</li>
			<li class="nav-item">
				<a href="/Default/OurMenu/">
					<i class="la la-pagelines"></i>
					<p>Menüyü Gör</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminCategory/Index/">
					<i class="la la-keyboard-o"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminProduct/Index/">
					<i class="la la-birthday-cake"></i>
					<p>Ürünler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminBooking/Index/">
					<i class="la la-bell"></i>
					<p>Rezervasyonlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminAbout/Index/">
					<i class="la la-font"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminDiscount/Index/">
					<i class="la la-money"></i>
					<p>İndirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminContact/Index/">
					<i class="la la-phone"></i>
					<p>İletişim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminFeature/Index/">
					<i class="la la-delicious"></i>
					<p>Öne Çıkanlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminTestimonial/Index/">
					<i class="la la-group"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminSocialMedia/Index/">
					<i class="la la-map-o"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminStatistic/Index/">
					<i class="la la-pie-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminMenuTable/Index/">
					<i class="la la-table"></i>
					<p>Masalar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminMenuTable/TableListByStatus/">
					<i class="la la-ship"></i>
					<p>Masa Durumları</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Index/">
					<i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
					<p>Mesaj Sayfası</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AdminNotification/Index/">
					<i class="la la-umbrella"></i>
					<p>Bildirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Setting/Index/">
					<i class="la la-chain"></i>
					<p>Ayarlar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Login/LogOut/">
					<i class="la la-expeditedssl"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>
