
@model CreateProductDto

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="page-title">Ürün İşlemleri </h4>
<div class="row">
	<div class="col-md-12">
		<form method="post">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Yeni Ürün Girişi</div>
			</div>
			<div class="card-body">
				<div class="form-group mb-2">
					<label>Ürün Adını Giriniz: </label>
					<input type="text" asp-for="ProductName" class="form-control" >
				</div>

					<div class="form-group mb-2">
						<label>Ürün Fiyatı Giriniz: </label>
						<input type="text" asp-for="Price" class="form-control">
					</div>
					<div class="form-group mb-2">
						<label>Ürün Kategorisi Seçiniz: </label>
						@*@Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.categories,"Seçiniz",new {@class="form-control"})*@
							@Html.DropDownListFor(x=>x.CategoryID,(SelectList)ViewBag.categories,"Seçiniz",new{@class="form-control"})
					</div>
					<div class="form-group mb-2">
					<label>Ürün Açıklaması Giriniz: </label>
						<textarea asp-for="Description" class="form-control"> </textarea>
					</div>

			</div>
			<div class="card-action">
				<button type="submit" class="btn btn-primary">Ürün Ekle</button>
			</div>
		</div>
		</form>
	</div>
</div>